body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/forest-background3.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  padding-top: 15vh;
}

.App-header {
  min-height: calc( 30vh + 10vw );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
}

.App-logo {
  height: 45vmin;
  pointer-events: none;
}

.home-info {
  font-weight: lighter;
  font-size: calc(10px + 2vmin);
}

.sprout {
  height: 10vh;
}

.sprout:hover {
  transition: 2s;
  height: 14vh;
}